fastapi
uvicorn[standard]

sqlalchemy
pydantic

python-jose[cryptography]
passlib
python-multipart

cohere

langchain
langchain-community
langchain-text-splitters

qdrant-client

google-genai

pypdf

requests
